<h3>Add product</h3>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                @for (name of categoriesNames; track name) {
                    <mat-option [value]="name">{{ name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Image</mat-label>
            <input matInput formControlName="image">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <button type="submit" mat-flat-button>Submit</button>
    </div>    
</form>
