<div class="d-flex justify-content-center mt-4">
    <h2>Products</h2>
</div>

<div class="mb-4 px-4 py-2" app-products-list-filter></div>

<div class="container">
    <mat-paginator
        [length]="products.length"
        [pageSize]="20"
        [pageSizeOptions]="[10, 20, 50]"
        (page)="getPaginatorData($event)"
        showFirstLastButtons>
    </mat-paginator>
    <div class="flex-box d-flex flex-wrap justify-content-start pb-4">
        @for(product of (products | slice: lowValue : highValue); track product) {
            <div app-product-tile [product]="product" (click)="showProduct(product)" class="tile col-auto d-flex flex-column align-items-center px-4 pt-3 pb-4"></div>
        }
        @empty {
            <span>No products!</span>
        }
    </div>
    <mat-paginator
        [length]="products.length"
        [pageSize]="20"
        [pageSizeOptions]="[10, 20, 50]"
        (page)="getPaginatorData($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>
